VITE_SUPABASE_URL=https://qgxrbdhxiksutseeyuzz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFneHJiZGh4aWtzdXRzZWV5dXp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzNTMwNDMsImV4cCI6MjA4MzkyOTA0M30.RoJukntPw0-aDSkTw9y0-mP1JlOg6Z3QlTX47W01Jqw
